body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    background-color: black;
    color:rgba(93, 213, 63, 0.918);
}
body {
    background-color: black;
}
.battleLog p{
    margin: 3px;
    margin-left: 15px;
    color: rgba(93, 213, 63, 0.918);
    font-size: 14px;
}
.battleLog p:first-child{
    margin-top: 12px;
}
.battleLog p:last-child{
    margin-bottom: 12px;
}

.battleLog {
    border: 2px solid yellow;
    margin-top: 15px;
}
button{
    background-color: black;
    color:rgba(93, 213, 63, 0.918);
    font-size: 22px;;
}
#score {
    color:yellow;
}